Barragens.csv filter=lfs diff=lfs merge=lfs -text
Base[[:space:]]teste[[:space:]]-[[:space:]]Página1.csv filter=lfs diff=lfs merge=lfs -text
Modelo_Preditivo.ipynb filter=lfs diff=lfs merge=lfs -text
